body {
  text-align: center;
  font-family: helvetica;
  font-size: 14px;
}

.header {
  font-size: 18px;
}

.image {
  background-image: url("/broadway/resources/images/the-flatiron-building.png");
}

a {
  color: white;
}

.title {
  font-size: 70px;
  color: white;
  margin-bottom: 40px;
}

.sectiontitle {
  font-size: 32px;
}

.bold {
  font-weight: bold;
}

.sectionbar {
  color: white;
}

.subsectName {
  font-size: 23px;
}

.footer {
  font-size: 11px;
  background-color: dimgray;
  color: white;
  text-align: left;
}
